/* Body and general styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    font-family: Arial, sans-serif;
    background-color: white;
  }
  
  /* Container */
  div {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* Title styling */
  h1 {
    text-align: center;
    color: #333;
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  /* List styling */
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  /* List item styling */
  li {
    background-color: #f9f9f9;
    margin-bottom: 50px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  li h2 {
    font-size: 1.5rem;
    color: #333;
    margin: 0 0 10px 0;
  }
  
  li p {
    font-size: 1rem;
    color: #555;
    line-height: 1.5;
  }
  